modules = ["nodejs-22", "python-3.11"]
run = "npm start"
entrypoint = "server.js"

[nix]
channel = "stable-24_11"
packages = ["np"]

[deployment]
run = ["npm", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8003
externalPort = 3000

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[objectStorage]
defaultBucketID = "replit-objstore-3085c990-df23-4fd3-a500-a0a4613ba91c"
